<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>">appuie ici c'est pour aller a la home page fraté</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="<%= contact_path %>">Contact moi MTN<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="<%= team_path %>">Team de ouf mon pote</a>
    </div>
  </div>
</nav>
<audio src="asset" autoplay></audio>
<div class="center-div">
  <h1>BONJOUR CONTACTEZ MOI JE SUIS UN PROFESIONNEL</h1>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/BWnwl_AC2ew" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>